In [18]:
#Dependencies and setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from scipy.stats import linregress
from UsefulFunctions import LinReg
from UsefulFunctions import ScatPlotandReg
from UsefulFunctions import ScatPlotNoReg

# Import Cleaned Data

In [104]:
# Load the CSV file created in Part 1 into a Pandas DataFrame
census_data = pd.read_csv("censusData/ageAndSex.csv")
income = pd.read_csv("censusData/income.csv")
medicare_data = pd.read_csv("cleanedData/medicadeAggregate.csv")
# Display sample data
census_data.head(10)

,Acsst5Y2010.S0101-Data.1.2,Geography,Geographic Area Name,Total Estimate Total Population,Male Estimate Total Population,Female Estimate Total Population,Total Estimate Age Under 5 Years,Male Estimate Age Under 5 Years,Female Estimate Age Under 5 Years,Total Estimate Age 5 To 9 Years,...,Female Estimate Summary Indicators Age Dependency Ratio Old-Age Dependency Ratio,Total Estimate Summary Indicators Age Dependency Ratio Child Dependency Ratio,Male Estimate Summary Indicators Age Dependency Ratio Child Dependency Ratio,Female Estimate Summary Indicators Age Dependency Ratio Child Dependency Ratio,Total Estimate Percent Imputed Sex,Male Estimate Percent Imputed Sex,Female Estimate Percent Imputed Sex,Total Estimate Percent Imputed Age,Male Estimate Percent Imputed Age,Female Estimate Percent Imputed Age
0,2010,0400000US01,Alabama,4712651.0,2285905.0,2426746.0,6.4,6.7,6.1,6.6,...,(X),38.4,(X),(X),0.2,(X),(X),1.0,(X),(X)
1,2010,0400000US02,Alaska,691189.0,358919.0,332270.0,7.4,7.4,7.4,7.2,...,(X),40.6,(X),(X),0.1,(X),(X),1.2,(X),(X)
2,2010,0400000US04,Arizona,6246816.0,3108234.0,3138582.0,7.4,7.6,7.2,7.0,...,(X),42.5,(X),(X),0.2,(X),(X),1.2,(X),(X)
3,2010,0400000US05,Arkansas,2872684.0,1408945.0,1463739.0,6.8,7.1,6.5,6.8,...,(X),40.1,(X),(X),0.2,(X),(X),0.6,(X),(X)
4,2010,0400000US06,California,36637290.0,18223157.0,18414133.0,6.9,7.1,6.8,6.8,...,(X),40.1,(X),(X),0.2,(X),(X),1.3,(X),(X)
5,2010,0400000US08,Colorado,4887061.0,2448492.0,2438569.0,7.0,7.1,6.8,6.9,...,(X),37.9,(X),(X),0.2,(X),(X),1.0,(X),(X)
6,2010,0400000US09,Connecticut,3545837.0,1724834.0,1821003.0,5.8,6.1,5.5,6.4,...,(X),37.2,(X),(X),0.2,(X),(X),1.1,(X),(X)
7,2010,0400000US10,Delaware,881278.0,427218.0,454060.0,6.4,6.7,6.1,6.4,...,(X),37.1,(X),(X),0.2,(X),(X),0.9,(X),(X)
8,2010,0400000US11,District of Columbia,584400.0,276101.0,308299.0,5.5,6.0,5.2,4.5,...,(X),24.9,(X),(X),0.2,(X),(X),1.4,(X),(X)
9,2010,0400000US12,Florida,18511620.0,9050155.0,9461465.0,5.8,6.1,5.6,5.8,...,(X),35.3,(X),(X),0.2,(X),(X),1.3,(X),(X)

In [23]:
medicare_data.head(10)

,State_Name,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019,Y2020,Code,Item
0,Alabama,5003,4426,4767,4671,4990,5044,4818,5189,5350,5649,5731,1,Medicaid/Personal Health Care (Millions of Dol...
1,Alaska,1101,1230,1303,1267,1338,1456,1860,1959,2007,2127,1942,1,Medicaid/Personal Health Care (Millions of Dol...
2,Arizona,7915,7171,7090,7340,8374,9022,9455,10356,10419,11464,12760,1,Medicaid/Personal Health Care (Millions of Dol...
3,Arkansas,3732,3819,3924,4042,4957,5193,5709,5886,6191,6111,6116,1,Medicaid/Personal Health Care (Millions of Dol...
4,California,41797,44669,50882,55223,60472,74700,77965,72559,73641,78339,87062,1,Medicaid/Personal Health Care (Millions of Dol...
5,Colorado,3955,4202,4591,4937,6047,7178,7408,7908,9096,9255,9176,1,Medicaid/Personal Health Care (Millions of Dol...
6,Connecticut,5551,5695,6585,6520,7087,7393,7600,7793,8286,8172,8344,1,Medicaid/Personal Health Care (Millions of Dol...
7,Delaware,1168,1277,1448,1448,1522,1586,1658,1887,1901,1994,2057,1,Medicaid/Personal Health Care (Millions of Dol...
8,District of Columbia,1775,2007,1932,2061,2178,2375,2560,2618,2588,2724,2958,1,Medicaid/Personal Health Care (Millions of Dol...
9,Florida,15908,16160,16575,16885,18309,17454,18261,19322,19707,19948,21532,1,Medicaid/Personal Health Care (Millions of Dol...

In [53]:
census_data.columns # show columns

Index(['Acsst5Y2010.S0101-Data.1.2', 'Geography', 'Geographic Area Name',
       'Total  Estimate  Total Population', 'Male  Estimate  Total Population',
       'Female  Estimate  Total Population',
       'Total  Estimate  Age Under 5 Years',
       'Male  Estimate  Age Under 5 Years',
       'Female  Estimate  Age Under 5 Years',
       'Total  Estimate  Age 5 To 9 Years',
       ...
       'Female  Estimate  Summary Indicators Age Dependency Ratio Old-Age Dependency Ratio',
       'Total  Estimate  Summary Indicators Age Dependency Ratio Child Dependency Ratio',
       'Male  Estimate  Summary Indicators Age Dependency Ratio Child Dependency Ratio',
       'Female  Estimate  Summary Indicators Age Dependency Ratio Child Dependency Ratio',
       'Total  Estimate  Percent Imputed Sex',
       'Male  Estimate  Percent Imputed Sex',
       'Female  Estimate  Percent Imputed Sex',
       'Total  Estimate  Percent Imputed Age',
       'Male  Estimate  Percent Imputed Age',
       'Female  Estimate  Percent Imputed Age'],
      dtype='object', length=111)

In [75]:
census_data.columns = ['_'.join(col).strip() for col in census_data.columns.values] #flatten the columns

In [77]:
census_data.columns = census_data.columns.str.strip()

In [85]:
census_data_clear.columns = census_data.columns.str.strip()

In [37]:
clea_census_data.rename(columns={'Acsst5Y2010.S0101-Data.1.2': 'Year', 'Geographic Area Name': 'Geographic_Area_Name','Total Estimate Total Population': 'Total_Population'}, inplace=True)

In [91]:
census_data_clear = pd.DataFrame(census_data)
census_data_clear = census_data[['Acsst5Y2010.S0101-Data.1.2','Geographic Area Name','Total Estimate Total Population','Female Estimate Percent Imputed Age']].head(20)

clea_census_data

KeyError: "None of [Index(['Acsst5Y2010.S0101-Data.1.2', 'Geographic Area Name',\n       'Total Estimate Total Population',\n       'Female Estimate Percent Imputed Age'],\n      dtype='object')] are in the [columns]"

In [113]:
income.head(30)

,Year,Geography,Geographic Area Name,Households Estimate Total,Families Estimate Total,Married-Couple Families Estimate Total,Nonfamily Households Estimate Total,"Households Estimate Less Than $10,000","Families Estimate Less Than $10,000","Married-Couple Families Estimate Less Than $10,000",...,Married-Couple Families Estimate Percent Imputed Household Income In The Past 12 Months,Nonfamily Households Estimate Percent Imputed Household Income In The Past 12 Months,Households Estimate Percent Imputed Family Income In The Past 12 Months,Families Estimate Percent Imputed Family Income In The Past 12 Months,Married-Couple Families Estimate Percent Imputed Family Income In The Past 12 Months,Nonfamily Households Estimate Percent Imputed Family Income In The Past 12 Months,Households Estimate Percent Imputed Nonfamily Income In The Past 12 Months,Families Estimate Percent Imputed Nonfamily Income In The Past 12 Months,Married-Couple Families Estimate Percent Imputed Nonfamily Income In The Past 12 Months,Nonfamily Households Estimate Percent Imputed Nonfamily Income In The Past 12 Months
0,2010,0400000US01,Alabama,1821210,1240503,896323,580707,10.3,6.2,1.9,...,(X),(X),(X),27.6,(X),(X),(X),(X),(X),24.5
1,2010,0400000US02,Alaska,248248,168684,126237,79564,3.9,2.7,0.6,...,(X),(X),(X),23.2,(X),(X),(X),(X),(X),18.5
2,2010,0400000US04,Arizona,2326468,1542305,1150428,784163,7,4.9,2.1,...,(X),(X),(X),27.3,(X),(X),(X),(X),(X),24.5
3,2010,0400000US05,Arkansas,1117154,762763,566997,354391,9.9,5.9,1.9,...,(X),(X),(X),26.4,(X),(X),(X),(X),(X),23.9
4,2010,0400000US06,California,12392852,8495322,6166334,3897530,5.3,3.9,1.6,...,(X),(X),(X),28.2,(X),(X),(X),(X),(X),23.6
5,2010,0400000US08,Colorado,1918959,1236008,964538,682951,6.4,3.8,1.4,...,(X),(X),(X),21.9,(X),(X),(X),(X),(X),20.5
6,2010,0400000US09,Connecticut,1359218,911653,687460,447565,5.4,3.1,0.8,...,(X),(X),(X),28.2,(X),(X),(X),(X),(X),25
7,2010,0400000US10,Delaware,331639,224796,164481,106843,5.7,3.3,0.9,...,(X),(X),(X),28,(X),(X),(X),(X),(X),25.6
8,2010,0400000US11,District of Columbia,257317,109171,57033,148146,10.9,8.5,1.7,...,(X),(X),(X),31.9,(X),(X),(X),(X),(X),24
9,2010,0400000US12,Florida,7152844,4670069,3444884,2482775,7.3,4.4,1.9,...,(X),(X),(X),29,(X),(X),(X),(X),(X),27.1
10,2010,0400000US13,Georgia,3468704,2373423,1695331,1095281,8.3,5.4,1.8,...,(X),(X),(X),30.8,(X),(X),(X),(X),(X),27.2
11,2010,0400000US15,Hawaii,442267,308525,228429,133742,5.7,3.2,1.4,...,(X),(X),(X),30.9,(X),(X),(X),(X),(X),24.8
12,2010,0400000US16,Idaho,570283,399824,324191,170459,6.5,3.9,1.7,...,(X),(X),(X),21.6,(X),(X),(X),(X),(X),21.9
13,2010,0400000US17,Illinois,4769951,3161547,2354273,1608404,6.9,4.2,1.2,...,(X),(X),(X),28.4,(X),(X),(X),(X),(X),24.7
14,2010,0400000US18,Indiana,2465402,1657806,1259050,807596,7.2,4.5,1.5,...,(X),(X),(X),23.3,(X),(X),(X),(X),(X),22.7
15,2010,0400000US19,Iowa,1215954,793842,639628,422112,6.3,3.2,1,...,(X),(X),(X),21.5,(X),(X),(X),(X),(X),22
16,2010,0400000US20,Kansas,1101672,730945,573865,370727,6.6,3.6,1.2,...,(X),(X),(X),21.3,(X),(X),(X),(X),(X),20.6
17,2010,0400000US21,Kentucky,1676708,1128169,849218,548539,10.4,6.4,2.4,...,(X),(X),(X),23.7,(X),(X),(X),(X),(X),22.9
18,2010,0400000US22,Louisiana,1641165,1108716,764526,532449,10.1,6.3,1.7,...,(X),(X),(X),31.5,(X),(X),(X),(X),(X),26.8
19,2010,0400000US23,Maine,551125,354133,278439,196992,7.2,3.8,1.2,...,(X),(X),(X),21.3,(X),(X),(X),(X),(X),20
20,2010,0400000US24,Maryland,2121047,1423399,1030665,697648,5,2.8,0.8,...,(X),(X),(X),25.9,(X),(X),(X),(X),(X),22
21,2010,0400000US25,Massachusetts,2512552,1600588,1195409,911964,6.8,3.6,1.1,...,(X),(X),(X),29.6,(X),(X),(X),(X),(X),27
22,2010,0400000US26,Michigan,3843997,2553979,1912419,1290018,7.9,5,1.6,...,(X),(X),(X),25.4,(X),(X),(X),(X),(X),24.1
23,2010,0400000US27,Minnesota,2085917,1358178,1082905,727739,5.7,3,0.9,...,(X),(X),(X),21,(X),(X),(X),(X),(X),20.2
24,2010,0400000US28,Mississippi,1081052,749274,506210,331778,11.6,7.4,2.2,...,(X),(X),(X),30.5,(X),(X),(X),(X),(X),26.2
25,2010,0400000US29,Missouri,2349955,1546509,1171854,803446,7.9,4.7,1.5,...,(X),(X),(X),25.6,(X),(X),(X),(X),(X),23.4
26,2010,0400000US30,Montana,401328,256130,207111,145198,7.6,4.6,2,...,(X),(X),(X),25.3,(X),(X),(X),(X),(X),22.8
27,2010,0400000US31,Nebraska,711771,467250,372381,244521,6.4,3.4,1,...,(X),(X),(X),22.3,(X),(X),(X),(X),(X),21.2
28,2010,0400000US32,Nevada,979621,642900,464193,336721,5.7,4,1.5,...,(X),(X),(X),26.2,(X),(X),(X),(X),(X),24
29,2010,0400000US33,New Hampshire,513804,346128,278291,167676,4.6,2.5,0.7,...,(X),(X),(X),25.2,(X),(X),(X),(X),(X),24.9

# Comparison of Medicare and Age

In [ ]:
#Select necessary columns and combine on State (Aggregate and Age Census)

** Analysis of Medicare and Age ** :